<div class="main-landing-page-container">    
    <div class="landing-page-list-item uppercased clickable"> BLOG </div>
    <div class="landing-page-list-item uppercased clickable"> PROJECTS </div>
    <div class="landing-page-list-item uppercased clickable"> ABOUT </div>
    <div class="landing-page-list-item uppercased clickable"> CONTACT </div>
    <div class="landing-page-list-item uppercased clickable"> RESUME </div>
    <div class="landing-page-list-item uppercased clickable"> LINKS </div>
</div>