<div class="flex flex-col justify-center gap-4 px-4">
    <article class="flex flex-col items-start justify-center w-full max-w-4xl mx-auto mt-4 mb-16 prose content dark:prose-invert ">
        <div class="flex flex-col gap-8">
            <div class="flex flex-col gap-2">
                <h1 class="mb-4 text-5xl font-bold tracking-tight text-black lg:text-7xl dark:text-white">
                    <%= page.title %>
                </h1>
                <div>
                    <p class="ml-2 text-sm text-gray-700 dark:text-gray-300">
                        <%-full_date(page.date, "MMM DD, YYYY" )%>
                    </p>
                </div>
            </div>
        </div>
        <%-page.content%>
</div>