/* Utils */

.clickable {
    cursor: pointer
}

.uppercased {
    text-transform: uppercase;
}

.underlined {
    text-decoration: underline;
}

/* Layout */

body {
    margin: 0;
    padding: 0;
    background: black;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main-body-wrapper {

}

.main-footer-wrapper {

}



/* Index */

.main-landing-page-container {
    
}

.main-landing-page-container {
    font-family: 'Bungee Hairline', Arial;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-page-list-item {
    text-decoration: none;
    color: white;
}

.landing-page-list-item:hover {
    font-weight: bold;
}

/* Footer */

.main-footer-container {
    margin: 2rem 0rem;
    color: white;
    font-family: 'Bungee Hairline', Arial;
    font-size: 18px;
    text-align: center;
}

.footer-link-element {
    color: white;
    text-decoration: none;
}

/* Index Navbar */

.main-navbar-container {
    display: flex;
    justify-content: center;
    gap: 7.5rem;
    align-items: center;
    padding-top: 5rem;
    font-family: 'Bungee Hairline', Arial;
    font-size: 36px;;
}

.navbar-item {
    color: white;
}

.nav-icon-link {
    opacity: 0.25;
}

.nav-icon-link:hover {
    opacity: 0.75;
}

.logo {
    width: 100px;
}


/* Light Nav */

.main-lightnav-container {
    color: white;
    font-family: 'Bungee Hairline', 'Arial';
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    text-decoration: none;
}

.lightnav-title {
    font-weight: normal;
    text-align: center;
}

.lightnav-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightnav-logo {
    width: 50px;
}

/* Archives */
.main-archives-container {
    color: white;
}

.main-archive-list-container {
    order: 2;
}

.archive-list-year {
    font-family: 'Bungee Hairline';
    font-weight: normal;
    font-size: 28px;
}

.archive-list-yearly-content-container {
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.archive-list-yearly-content-item {
    display: flex;
    align-items: space-between;
    justify-content: flex-start;
    gap: 3rem;
    width: 100%;
}

.archive-list-yearly-content-item-date {
    font-size: 24px;
    font-family: 'Source Sans Pro', 'Source Code Pro';
}

.archive-list-yearly-content-item-title {
    font-size: 24px;
    font-weight: lighter;
    font-family: 'Source Sans Pro', 'Source Code Pro';
}

.archive-list-post-url {
    text-decoration: none;
    color: white;
}

.archive-list-post-url:hover {
    text-decoration: underline;
}



@media only screen and (max-width: 1024px) {
    .lightnav-title,
    .lightnav-logo-container {
        width: 100%;
    }
}

/* @media only screen and (min-width:  480px) {} */
/* @media only screen and (max-width:  1024px) {} */
/* @media only screen and (max-width:  1200px) {} */

