<footer class="main-footer-container">
    <div class="copyright">
        &copy; <%= new Date().getFullYear() %> | Powered by <a class="footer-link-element underlined" href="https://hexo.io" target="_blank"><b>Hexo</b></a>
    </div>
   Theme LEVIATHAN by <a class="footer-link-element" href="https://github.com/StrixSC"><b>StrixSC</b></a>
</footer>

<%- js('js/main') %>