<script>
    let open = false;
    $('.menu').click((e) => {
        open = !open;
        $('.tham').toggleClass('tham-active');
    });
</script>
<div class="flex items-center justify-center menu">
    <div class="tham tham-e-emphatic tham-w-6">
        <div class="tham-box">
            <div class="bg-black dark:bg-white tham-inner">
            </div>
        </div>
    </div>
</div>