<head>
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </meta>
    <% const def="A Blog Powered By Hexo" ; %>
        <title>
            <%=config.title ? config.title : def %>
        </title>
        <meta name="description" content="<%=config.description ? config.description : def%>">

        <meta name="viewport" , content="width=device-width, initial-scale=1">
        <link rel="icon" , href=<%= url_for(theme.favicon) %>>
        <link href='https://fonts.googleapis.com/css?family=Bungee Hairline' rel='stylesheet'>
        <link rel="stylesheet" , href=<%= url_for("css/leviathan.css") %>>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>