<head>
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </meta>
    <% const def="A Blog Powered By Hexo" ; %>
        <title>
            <%=config.title ? config.title : def %>
        </title>
        <%- favicon_tag(theme.favicon) %>
        <meta name="description" content="<%=config.description ? config.description : def%>">
        <meta name="viewport" , content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Bungee Hairline'>
        <%- css("css/leviathan.css") %>
</head>