<div class="flex flex-col justify-center gap-8 font-bungeehairline text-xl">
    <% if (theme.logo) {%>
        <div class="flex justify-center align-middle">
            <a href="<%- url_for('') %>"><img class="w-24" src="<%=url_for(theme.logo)%>"></a>
        </div>
    <%}%>
    <div class="text-3xl text-center text-white">
        <%=config.title ? config.title : def %> 
        <% if(config.subtitle) {%>
            <span>
                | <%=config.subtitle%>
            </span>
        <%}%>
    </div>

</div>