<div class="main-navbar-container">

    <!-- TODO: Add configuration on the type of navbar the user wants. -->
    <!-- <div class="left-navbar-container navbar-container"> -->
    <div class="navbar-item">
        <img height="32" width="32" src="https://cdn.simpleicons.org/mastodon/white" />
    </div>
    <div class="navbar-item">
        <img height="32" width="32" src="https://cdn.simpleicons.org/linkedin/white" />
    </div>
    <!-- </div> -->
    <!-- <div class="middle-navbar-container navbar-container "> -->
    <div class="navbar-item logo-container">
        <img class="logo" src="<%=url_for(theme.logo)%>">
    </div>
    <!-- </div> -->

    <!-- <div class="right-navbar-container navbar-container "> -->
    <div class="navbar-item">
        <img height="32" width="32" src="https://cdn.simpleicons.org/twitter/white" />
    </div>
    <div class="navbar-item">
        <img height="32" width="32" src="https://cdn.simpleicons.org/github/white" />
    </div>
    <!-- </div> -->
</div>