<a alt="Home" href="<%- url_for('') %>" class="main-lightnav-container">
    <% const def="A Blog Powered By Hexo" ; %>
    <% if (theme.logo) {%>
        <div class="lightnav-logo-container">
            <img class="lightnav-logo" src="<%- url_for(theme.logo)%>" alt="logo">
        </div>
    <%}%>
    <h2 class="lightnav-title uppercased">
        <%=config.title ? config.title : def %> 
        <% if(config.subtitle) {%>
            <span>
                | <%=config.subtitle%>
            </span>
        <%}%>
    </h2>
</a>