<a alt="Home" href="<%- url_for('') %>" class="text-white font-bungeehairline flex align-middle justify-center gap-4 flex-wrap no-underline">
    <% const def="A Blog Powered By Hexo" ;%>
    <% if (theme.logo) {%>
        <div class="flex align-middle justify-center">
            <img class="w-12" src="<%- url_for(theme.logo)%>" alt="logo">
        </div>
    <%}%>
    <h2 class="uppercased">
        <%=config.title ? config.title : def %> 
        <% if(config.subtitle) {%>
            <span>
                | <%=config.subtitle%>
            </span>
        <%}%>
    </h2>
</a>