<div class="flex items-center justify-center">
    <button class="" type="button">
        <span class="text-white material-symbols-outlined">
            light_mode
        </span>
    </button>
</div>