
<div class="flex items-center justify-center">
    <button class="theme-switcher" type="button">
        <span class="text-white theme-switcher-icon material-symbols-outlined">
            light_mode
        </span>
    </button>
</div>
<script>
    const darkMode = "dark_mode";
    const lightMode = "light_mode";

    let isDark = true;
    $(".theme-switcher").on('click', () => {
        isDark = !isDark;
        $(".theme-switcher-icon").text(isDark ? lightMode : darkMode);
        $(".html").toggleClass("dark");
    });

</script>