<div id="sidebar" class="outline-1 outline-slate-400 outline">
    <div class="toc-sidebar">
        <nav id="toc" class="article-toc">
            <div class="text-white text-xl bg-gray-900 p-4 outline outline-1 outline-slate-400 ">
                <p class="font-bold ">In this article</p>
            </div>
            <div class="p-4">
                <%- toc(page.content) %>
            </div>
        </nav>
    </div>
</div>