/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


@layer base {
    body {
        --codeblock_border_color: #252a30;
        --codeblock_bg_color: #0d1117;
        --string: #a5d6ff;
        --keyword: #ff7b72;
        --number: #79c0ff;
        --literal: #79c0ff;
        --comment: #8b949e; 
        --attr: #79c0ff;
        --section: red;
        --built_in: #ffa657;
        --variable: #79c0ff;
        --meta: #79c0ff;
        margin: 0px;
        padding: 0px;
    }
    
}

@layer components {
    .hoverable-element {
        @apply cursor-pointer no-underline
    }

    .hoverable-element:hover {
        @apply underline
    }

    
    .uppercase {
        text-transform: uppercase;   
    }

    .content {

        p:has(code) {
            code {
                border: 1px solid var(--codeblock_border_color);
                background-color: var(--codeblock_bg_color);
                border-radius: 2px;
                padding: 0px 3px;
                color: var(--keyword);
            }
            code::after, code::before {
                content: "" !important;
            }
        }

        figure {
            width: 100%;
            margin: 0px;

            .gutter > pre,
            .code > pre {
                background-color: var(--codeblock_bg_color);    
            }
        }
        
        .highlight table {
            background-color: var(--codeblock_bg_color);
            display: block;
            overflow: auto;
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                height: 8px;
                background-color: var(--codeblock_bg_color);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(87, 87, 87);
                @apply rounded;
            }

            &::-webkit-scrollbar-track-piece {
                background-color: #0f0f0f;
            }
        }

        .highlight table {
            padding: 0rem 1rem;
            border: 1px solid var(--codeblock_border_color);
            border-radius: 5px;
        }


        .code {

            width: 100%; 


            .attr, .attribute, .literal, .meta, .number, .operator, .selector-attr, .selector-class, .selector-id, .variable {
                color: #79c0ff;
            }

            .doctag, .keyword, .meta .keyword, .template-tag, .template-variable, .type, .variable.language_ {
                color: #ff7b72;
            }

            .title, .title.class_, .title.class_.inherited__, .title.function_ {
                color: #d2a8ff;
            }
            
            .name, .quote, .selector-pseudo, .selector-tag {
                color: #7ee787;
            }

            .string {
                color: var(--string);
            }

            .comment {
                color: var(--comment);
            }

            .section {
                color: var(--section);
            }

            .built_in {
                color: var(--built_in);
            }
        }
        
    }
}